priority "grant";

grant codeBase "file:/imaging-transformer-chipping/imaging-transformer-nitf/catalog-nsili-source/sample-nsili-client" {
    permission java.lang.RuntimePermission "createClassLoader";
}

grant codeBase "file:/org.ops4j.pax.swissbox.core" {
    permission java.io.FilePermission "<<ALL FILES>>", "execute";
}

grant codeBase "file:/platform-country-converter-local" {
    permission java.io.FilePermission "${ddf.home.perm}etc${/}fipsToIso.properties", "read";
}

grant codeBase "file:/catalog-nsili-endpoint/catalog-nsili-source" {
    permission java.io.FilePermission "${ddf.home.perm}etc${/}ws-security${/}server${/}-", "read";
    permission java.io.FilePermission "${ddf.home.perm}etc${/}keystores${/}-", "read";
}